.aside-list-box {
  padding-bottom: 50px;
  margin: 0 -15px 0 -15px;

  & .title-box {
    margin-bottom: 37px;
  }

  & .news-list {
    & li {
      & a {
        display: block;
        color: $text-color;
        font-family: $Roboto;
        font-size: $font-text;
        font-weight: $Regular;
        line-height: 20px;
        padding: 10px 30px 10px 15px;

        & span {
          display: block;
          color: rgba(51, 67, 93, 0.71);
          font-size: 15px;
          font-weight: 900;
          margin-bottom: 8px;
        }

        & h3 {
          color: #232d3d;
          font-family: $Raleway;
          font-size: 21px;
          font-weight: $bold;
          line-height: 24px;
        }

        &:hover {
          background-color: #edf3f7;
        }
      }
    }
  }

  & .btn {
    display: block;
    margin: 30px auto 0 auto;
  }
}
