.gallery-footer-wrapper {
  position: relative;
  z-index: 1;

  & .gallery-wrapper-img {
    position: absolute;
    width: 100%;
    height: 650px;
    overflow: hidden;
    z-index: -1;
    margin-bottom: -4px;

    & img {
      display: block;
      width: 100%;
      min-height: 650px;
    }

    &::before {
      display: block;
      content: "";
      background-color: rgba(7, 10, 15, 0.85);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  & .gallery-footer {
    height: 650px;
    padding: 146px 15px 0 15px;

    & .btn {
      display: block;
      margin: 90px auto 0 auto;
    }

    & .block-description {
      color: $white-color;

      & .title-box .title strong {
        color: $white-color;
      }

      & .btn {
        margin: 40px auto 0 0;
      }
    }
  }
}
