.tabs-box {
  padding-bottom: 100px;

  & .nav {
    align-items: center;
    height: 190px;
    margin-top: -127px;

    & li a {
      color: #f8fbfd;
      font-family: $Raleway;
      font-weight: $bold;
    }
  }

  & .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    border-radius: 8px 8px 0 0;
    display: block;
    width: 415px;
    height: 100%;
    padding: 0;
    text-align: center;
    padding-top: 35px;
    background-color: rgba(7, 14, 25, 0.84);
    opacity: 1;

    & img {
      display: block;
      width: 52px;
      height: 72px;
      margin: 0 auto 20px auto;
      opacity: 1;
    }

    & span {
      display: block;
      font-size: 26px;
      line-height: 30px;
      background-color: #04a5ff;
      padding: 17px 0;
      opacity: 1;
      text-transform: uppercase;
    }
  }

  & .nav-pills .nav-link {
    border-radius: 8px 8px 0 0;
    display: block;
    width: 345px;
    padding: 0;
    text-align: center;
    background-color: rgba(7, 14, 25, 0.57);
    padding-top: 34px;

    & img {
      display: block;
      width: 50px;
      height: 51px;
      margin: 0 auto 26px auto;
      opacity: 0.5;
    }

    & span {
      display: block;
      background-color: #070e19;
      padding: 10px 0 12px 0;
      font-size: 26px;
      line-height: 27px;
      opacity: 0.5;
      text-transform: uppercase;
    }
  }
}

.tab-content {
  margin-top: 54px;

  & .title {
    font-size: 14px;
    font-weight: $Medium;
    text-transform: uppercase;
  }

  & .tab-pane .program {
    background-color: $white-color;
    border-radius: 0 8px 8px 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 570px;

    & .program-img {
      flex: 0 0 40%;
      height: 100%;
      overflow: hidden;

      & img {
        display: block;
        height: 100%;
        width: auto;
      }
    }

    & .program-info {
      flex: 0 0 60%;
      padding: 30px;
      height: 400px;

      & .program-info-list {
        height: 520px;
        padding-right: 10px;
        overflow-y: scroll !important;

        &::-webkit-scrollbar-track {
          background-color: rgba(202, 212, 229, 0.27) !important;
          border-radius: 12px !important;
        }

        &::-webkit-scrollbar {
          width: 7px !important;
          background-color: rgba(202, 212, 229, 0.27) !important;
          border-radius: 12px !important;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 12px !important;
          background-color: #cad4e5 !important;
        }

        & > li {
          margin-bottom: 28px;
        }
      }
    }
  }

  & .tab-pane .teachers-box {
    & .teachers-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;
      border-radius: 8px;
      overflow: hidden;

      & .teachers-item-img {
        flex: 0 0 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      & .teachers-item-info {
        flex: 0 0 72%;
        padding: 20px;
        background-color: $white;

        & .title {
          font-size: 22px;
          font-weight: 500;
          text-transform: capitalize;
          margin-bottom: 25px;

          & strong {
            color: #04a5ff;
            font-size: 22px;
            font-weight: 700;
            margin-left: 5px;
          }
        }

        & span {
          display: block;
          color: #000000;
          font-size: 14px;
          margin-bottom: 25px;
        }

        & p {
          margin-bottom: 25px;
        }
      }
    }
  }

  & .tab-pane .description-box {
    & .description-box-list {
      background-color: $white;
      padding: 40px 40px 40px 70px;
      margin-bottom: 79px;

      & .description-box-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;

        & .title {
          flex: 0 0 25%;
          margin: 0;
          color: $blue-color;
          font-size: 17px;
          font-weight: 500;
          line-height: 23px;
          text-transform: uppercase;
          text-align: right;
        }

        & .text {
          flex: 0 0 73%;
        }
      }
    }

    & .btn {
      display: block;
      margin: auto;
    }
  }
}
