.title-box {
  border-left: 6px solid $blue-color;
  padding-left: 15px;

  & h1,
  h2,
  h3,
  .title {
    margin: 0;
    color: $blue-color;
    font-family: $Raleway;
    font-size: 27px;
    font-weight: $bold;
    text-transform: uppercase;
  }

  & strong {
    display: block;
    color: $text-color;
    font-family: $Roboto;
    font-size: 22px;
    font-weight: $bold;
    line-height: 30px;
  }
}
