/* Colors */

$white: #fff;
$black: #000;
$white-color: #fff;
$black-color: #000;
$text-color: #232d3d;
$title-color: #0f0f0f;
$info-color: #141414;
$section-color: #151515;
$blue-color: #04a5ff;
$green-color: #14b653;
$red-color: #fb2828;
$hover-color: #33435d;

/* Fonts */

$Roboto: "Roboto", sans-serif;
$Raleway: "Raleway", sans-serif;

$light: 300;
$Regular: 400;
$Medium: 500;
$bold: 700;

/* title */

$h1: 29px;
$h2: 28px;
$h3: 25px;
$h4: 19px;
$h5: 15px;
$h6: 13px;

/* font-text */

$font-text: 14px;
